<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ciao.xpos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ciao.xpos.My.MySettings>
            <setting name="Empresa" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Local_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Local_User" serializeAs="String">
                <value />
            </setting>
            <setting name="Local_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Local_Data" serializeAs="String">
                <value />
            </setting>
            <setting name="Server_Principal" serializeAs="String">
                <value />
            </setting>
            <setting name="Server_User" serializeAs="String">
                <value />
            </setting>
            <setting name="Server_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Server_Data" serializeAs="String">
                <value />
            </setting>
            <setting name="Caja" serializeAs="String">
                <value />
            </setting>
            <setting name="Impresora_Puerto" serializeAs="String">
                <value />
            </setting>
            <setting name="Impresora_Modelo" serializeAs="String">
                <value />
            </setting>
        </ciao.xpos.My.MySettings>
    </userSettings>
</configuration>